@font-face {
    font-family: 'DINAlternate-Bold';
    src: url("https://ossprod.jrdaimao.com/file/1687860305604694.ttf");
}

@font-face {
    font-family: 'PingFangSC-Semibold';
    src: url("https://ossprod.jrdaimao.com/file/1685945615198380.ttf");
}

@font-face {
    font-family: 'Bebas-Regular';
    src: url("https://ossprod.jrdaimao.com/file/1685543736514289.ttf");
}

@font-face {
    font-family: 'hyyzqqb';
    src: url("https://ossprod.jrdaimao.com/file/1685542631015817.ttf");
}
