.colorPicker {
  .title {
    color: #6A6A76;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .wrap {
  }
  .button {
    width: 60px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
  }
}
